* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: rgb(240, 240, 240);
}
.app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form-container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container form {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
 
.form-container input[type='text'],
.form-container input[type='email']{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.form-container button{
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  background-color: rgb(72, 83, 83);
}
.card-container::-webkit-scrollbar {
  display: none;
}